<div class="main-container">
     <div>
    <form [formGroup]="objectForm" class="object-form">
      <h3>Create object</h3>
      <div class="form-group">
        <label for="width">Name:</label>
        <input type="string" id="name" formControlName="name" />
      </div>

      <div class="form-group">
        <label for="width">Width:</label>
        <input type="number" id="width" formControlName="width" min="1" />
      </div>
    
      <div class="form-group">
        <label for="height">Height:</label>
        <input type="number" id="height" formControlName="height" min="1" />
      </div>
    
      <div class="form-group">
        <label for="image">image:</label>
        <input type="string" id="image" formControlName="image" />
      </div>

      <div class="form-group">
        <label>
          <input type="checkbox" formControlName="mustTouchWall" />
          Must Touch Wall
        </label>
      </div>
      <button (click)="onSubmit()" [disabled]="objectForm.invalid">Add Object</button>
    </form>

          <div *ngIf="selectedItem" class="resize-inputs" class="object-form">
        <h3>Resize {{ selectedItem.name }}</h3>
        <div class="form-group">
          <label>
            Width (cm):
            <input type="number" [(ngModel)]="inputWidthCm" (input)="updateSizeInCm()" />
          </label>
        </div>
        <div class="form-group">
          <label>
            Height (cm):
            <input type="number" [(ngModel)]="inputHeightCm" (input)="updateSizeInCm()" />
          </label>
        </div>
        <button (click)="rotateObject()">Rotate</button>
      </div>
     </div>
<div>

    <div class="sidebar">
      <h3>Available Objects</h3>
      <ul>
        <li
          *ngFor="let object of items"
          [class.selected]="selectedItem?.name === object.name"
          (click)="selectItem(object)"
        >
          {{ object.name }} - {{ object.width / 3 }}x{{ object.height / 3 }}
          <button (click)="removeObject(object); $event.stopPropagation();">
            X
          </button>
        </li>
      </ul>
    </div>
    <div class="predefined-objects">
      <h3>Select Predefined Object</h3>
        <button class="predefined-objects-button"
          *ngFor="let object of predefinedItems"
          [class.selected]="selectedItem?.name === object.name"
          (click)="addPredefinedItem(object)"
        >
          {{ object.name }} - {{ object.width / 3 }}x{{ object.height / 3 }}
      </button>
    </div>
  </div>

  <div class="example-boundary" [style.width.px]="boundaryWidth" [style.height.px]="boundaryHeight">
    <div class="grid-background" [style.gridTemplateColumns]="'repeat(' + gridX + ', ' + gridCellSize + 'px)'" [style.gridTemplateRows]="'repeat(' + gridY + ', ' + gridCellSize + 'px)'">
      <div *ngFor="let cell of gridCells; let i = index" 
            class="grid-cell" 
            [ngClass]="{'clicked': cell.isClicked}" 
            (mousedown)="onMouseDown(i)"
            (mouseup)="onMouseUp()"
            (mouseover)="onMouseOver(i)">
      </div>
      <div class="example-box"
           cdkDragBoundary=".example-boundary"
           cdkDrag
           *ngFor="let item of items"
           [ngStyle]="{
            'background-color': checkCollisionWithGridCells(item) ? 'red' : (item.isColliding ? 'red' : 'lightgreen')            
            }"
           [style.width.px]="item.width"
           [style.height.px]="item.height"
           (cdkDragMoved)="onDrag($event, item)"
           (click)="selectItem(item)">
      <button class="rotate-button" (click)="rotateObject()">&#10227;</button>
      <img
        [src]="item.image"
        alt="{{ item.name }}"
        class="object-image"
        [ngStyle]="{
          'transform': 'rotate(' + item.rotation + 'deg)',
          'width.px': item.rotation === 90 || item.rotation === 270 ? item.height : item.width,
          'height.px': item.rotation === 90 || item.rotation === 270 ? item.width : item.height
        }">
        {{ item.name }}
      </div>
    </div>

  </div>
</div>

