<div class="head-container">
  <h1>Sketch-A-Room</h1>
</div>
<div class="main-container">
      <div class="menu-items">
        <h3 (click)="toggleClear()" class="collapsible-header">Clear
        </h3>
        <div class="menu-group">
          <h3 (click)="toggleConfigurations()" class="collapsible-header">Configurations
            <span class="arrow">{{ showConfigurations ? '▲' : '▼' }}</span>
          </h3>
          <div *ngIf="showConfigurations" class="inside-menu-item">
            <div class="form-group">
              <label for="width">Name:</label>
              <input type="string" [(ngModel)]="newSaveName" (input)="updateSizeInCm()" />
            </div>
          <ul>
            <button class="savebutton" (click)="saveConfiguration(newSaveName)">Save</button>
            <li *ngFor="let config of savedConfigurations" (click)="loadConfiguration(config.name)">
              {{ config.name }}
              <button class="deletebutton" (click)="deleteConfiguration(config.name)">X</button>
            </li>
          </ul>
          </div>
        </div>
        <h3 (click)="toggleGridSize()" class="collapsible-header">Grid size
          <span class="arrow">{{ showGridSize ? '▲' : '▼' }}</span>
        </h3>
        <div *ngIf="showGridSize" class="inside-menu-item">
        <div class="form-group">
          <label for="gridX">Grid Width (X):</label>
          <input type="number" id="gridX" [(ngModel)]="gridX" (input)="updateGridSize(gridX, gridY)" min="1" />
        </div>
        <div class="form-group">
          <label for="gridY">Grid Height (Y):</label>
          <input type="number" id="gridY" [(ngModel)]="gridY" (input)="updateGridSize(gridX, gridY)" min="1" />
        </div>
        </div>
    <form [formGroup]="objectForm">
      <h3 (click)="toggleCreateObject()" class="collapsible-header">Create object
        <span class="arrow">{{ showCreateObject ? '▲' : '▼' }}</span>
      </h3>
      <div *ngIf="showCreateObject" class="inside-menu-item">
      <div class="form-group">
        <label for="width">Name:</label>
        <input type="string" id="name" formControlName="name" />
      </div>

      <div class="form-group">
        <label for="width">Width (cm):</label>
        <input type="number" id="width" formControlName="width" min="1" />
      </div>
    
      <div class="form-group">
        <label for="height">Height (cm):</label>
        <input type="number" id="height" formControlName="height" min="1" />
      </div>
    
      <div class="form-group">
        <label for="image">Image:</label>
        <input type="string" id="image" formControlName="image" />
      </div>

      <!-- <div class="form-group">
        <label>
          <input type="checkbox" formControlName="mustTouchWall" />
          Must Touch Wall
        </label>
      </div> -->
      <button (click)="onSubmit()" [disabled]="objectForm.invalid">Add object</button>
      </div>
    </form>
    <!-- <div class="menu-group">
      <h3 (click)="togglePredefinedObjects()" class="collapsible-header">Predefined objects
        <span class="arrow">{{ showPredefinedObjects ? '▲' : '▼' }}</span>
      </h3>
      <div *ngIf="showPredefinedObjects" class="inside-menu-item">
        <ul>
          <li *ngFor="let object of predefinedItems" (click)="addPredefinedItem(object)" [class.selected]="selectedItem?.name === object.name">
            {{ object.name }} - {{ object.width / 3 }}x{{ object.height / 3 }}
          </li>
        </ul>
      </div>
    </div> -->

    <div class="menu-group">
      <h3 (click)="togglePredefinedObjects()" class="collapsible-header">Predefined objects
        <span class="arrow">{{ showPredefinedObjects ? '▲' : '▼' }}</span>
      </h3>
      <div *ngIf="showPredefinedObjects" class="inside-menu-item ">
        <button (click)="setViewObjects()">toggle</button>
        <div *ngIf="toggleViewObjects"> 

        <ul>
          <li *ngFor="let object of predefinedItems" (click)="addPredefinedItem(object)" [class.selected]="selectedItem?.name === object.name">
            {{ object.name }} - {{ object.width / 3 }}x{{ object.height / 3 }}
          </li>
        </ul>
        </div>
        <div *ngIf="!toggleViewObjects"> 
          <div class="predefined-items-container"> 
            <ul class="predefined-items">
              <li *ngFor="let object of predefinedItems" (click)="addPredefinedItem(object)" [class.selected]="selectedItem?.name === object.name">
                <img [src]="object.image" [alt]="object.name" class="object-image-thumb" />
              </li>
            </ul>
          </div>

        </div>

      </div>
    </div>

    <div class="menu-group">
      <h3 (click)="toggleAvailableObjects()" class="collapsible-header">Available objects
        <span class="arrow">{{ showAvailableObjects ? '▲' : '▼' }}</span>
      </h3>
      <div *ngIf="showAvailableObjects" class="inside-menu-item">

      <ul>
        <li
          *ngFor="let object of items"
          [class.selected]="selectedItem?.name === object.name && selectedItem?.x === object.x"
          (click)="selectItem(object)"
        >
          {{ object.name }} - {{ object.width / 3 }}x{{ object.height / 3 }}
          <button class="deletebutton" (click)="removeObject(object); $event.stopPropagation();">
            X
          </button>
        </li>
      </ul>
      </div>
    </div>

    <div *ngIf="selectedItem">
      <h3 (click)="toggleResize()" class="collapsible-header">Resize {{ selectedItem.name }}
        <span class="arrow">{{ showResize ? '▲' : '▼' }}</span>
      </h3>
      <div *ngIf="showResize" class="inside-menu-item">
        <div class="form-group">
          <label for="width">Width (cm):</label>
          <input type="number" [(ngModel)]="inputWidthCm" (input)="updateSizeInCm()" />
        </div>
      
        <div class="form-group">
          <label for="height">Height (cm):</label>
          <input type="number" [(ngModel)]="inputHeightCm" (input)="updateSizeInCm()" />
        </div>
        <button (click)="unlockObject()">toggle free rotation</button>
        <div *ngIf="selectedItem.unlocked" class="form-group">
          <label for="rotation">Rotation (degrees): {{ selectedItem.rotation }}°</label>
          <input type="range" id="rotation" min="0" max="360" [(ngModel)]="selectedItem.rotation" (input)="rotateObjectFreely()" />
        </div>
      </div>
    </div>

  </div>
  <div class="grid-container">
    <div class="horizontal-ruler" [style.width.px]="gridX * gridCellSize">
      <div *ngFor="let x of [].constructor(gridX); let i = index">
        {{ i * 10 }} 
      </div>
    </div>
    
    <div class="grid-and-vertical-ruler">
      <div class="vertical-ruler" [style.height.px]="gridY * gridCellSize">
        <div *ngFor="let y of [].constructor(gridY); let i = index">
          {{ i * 10 }} 
        </div>
      </div>

      <div class="example-boundary" [style.width.px]="boundaryWidth" [style.height.px]="boundaryHeight">
        <div class="grid-background" 
             [style.gridTemplateColumns]="'repeat(' + gridX + ', ' + gridCellSize + 'px)'"
             [style.gridTemplateRows]="'repeat(' + gridY + ', ' + gridCellSize + 'px)'">
             
          <div *ngFor="let cell of gridCells; let i = index" 
               class="grid-cell" 
               [ngClass]="{'clicked': cell.isClicked}" 
               (mousedown)="onMouseDown(i)"
               (mouseup)="onMouseUp()"
               (mouseover)="onMouseOver(i)">
          </div>
          <div class="example-box"
               cdkDragBoundary=".example-boundary"
               cdkDrag
               [cdkDragFreeDragPosition]="{x: item.x, y: item.y}"
               *ngFor="let item of items" 
               [ngStyle]="{
               }"
              [style.width.px]="item?.unlocked ? (item.width - item.width / 2) : item.width"
              [style.height.px]="item?.unlocked ? (item.height - item.height / 2) : item.height"
               (cdkDragEnded)="onDrag($event, item)"
               (mousedown)="selectItem(item)">
            <button *ngIf="!item.unlocked" class="rotate-button" (click)="rotateObject()">&#10227;</button>
            <button class="delete-object-button" (click)="removeObject(item)">x</button>
            <button class="unlock-object-button" (click)="unlockObject()">&#9839;</button>
            <img [src]="item.image" alt="{{ item.name }}" class="object-image"
                 [ngStyle]="{
                   'transform': 'rotate(' + item.rotation + 'deg)',
                   'width.px': item.rotation === 90 || item.rotation === 270 ? item.height : item.width,
                   'height.px': item.rotation === 90 || item.rotation === 270 ? item.width : item.height
                 }">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>