.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: #f7f9fc;
}

.example-boundary {
  position: relative;
  border: solid #b0bec5 2px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #e0e0e0; 
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); 
}

.grid-background {
  position: relative;
  display: grid;
  z-index: 0;
  background: linear-gradient(45deg, #ffffff 25%, #e3e8ee 25%, #e3e8ee 50%, #ffffff 50%, #ffffff 75%, #e3e8ee 75%, #e3e8ee 100%);
  background-size: 40px 40px;
}

.grid-cell {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  background-color: transparent;
  transition: background-color 0.3s;

  &.clicked {
    background-color: rgba(0, 68, 255, 0.349); 
  }
}

.example-box {
  position: absolute;
  border: solid 1px #000000;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 6px;
  z-index: 1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transform-origin: center center; 
}

.example-box:hover {
  transform: translateY(-4px); 
}

.object-image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: fill; 
  border-radius: 6px;
  transform-origin: center center; 
  opacity: 0.9;
}

h3 {
  margin-top: 0;
  color: #546e7a; 
}

.sidebar {
  width: 280px;
  padding: 20px;
  background-color: #ffffff; 
  border-right: 2px solid #b0bec5;
  overflow-y: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #eceff1;
  cursor: pointer;
  border: 1px solid #cfd8dc;
  border-radius: 6px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.sidebar li.selected {
  background-color: #b3e5fc; 
  border-color: #29b6f6; 
}

.sidebar li:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.sidebar button {
  position: absolute;
  top: 6px;
  right: 6px;
  background-color: #de8383;
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #e53935;
}

.object-form {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  font-weight: bold;
  color: #607d8b;
  margin-bottom: 5px;
}

.form-group input[type='number'],
.form-group input[type='text'] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #b0bec5;
  border-radius: 4px;
  background-color: #eceff1;
}

button {
  padding: 10px 14px;
  background-color: #42a5f5; 
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #90a4ae;
}

button:hover {
  background-color: #1e88e5;
}

.rotate-button {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  font-size: 24px;
  color: black;
  z-index: 5;
}

.predefined-objects{
  width: 280px;
  padding: 20px;
  background-color: #ffffff; 
  border-right: 2px solid #b0bec5;
  overflow-y: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.predefined-objects-button {
  margin: 2px;
  display: flex;
  width: 100%;
}